---
import ProgressBar from "../components/ProgressBar";
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/Title.astro";

const { frontmatter, headings, readTime } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image.url}
  url={`https://lunakit.netlify.app/blog/${frontmatter.title}`}
>
  <ProgressBar client:load />
  <article>
    <div class="center">
      <Title frontmatter={frontmatter} readTime={readTime} />
      <section class="markdown">
        <slot />
      </section>
    </div>
  </article>
</BaseLayout>
